/*alg*/
* {
	margin: 0;
	padding: 0;
}

body{	
	
	margin: 10%;
	padding: 0;	
	overflow-x: hidden;
	-webkit-overflow-scroll: touch;
	background-color: #212121;
	}

html{
	overflow-x:hidden;
}

h1{
	font-family: acumin-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 24px;
	letter-spacing: 1px;
	color: #F7F7F7;
}

h2{
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	text-align: center;
	color: #f7f7f7;
	letter-spacing: 1.5px;
}

p{
	font-family: acumin-pro, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 16px;
	color: #f7f7f7;
	padding-bottom: 0.5em;
	margin: 0;
}

a{
	font-family: acumin-pro, sans-serif;
	font-weight: 200;
	font-style: normal;
	color: #f7f7f7;
	text-decoration: none;
}

article{
	margin-top: 7em;
}

/*alg. titel*/
.titel{
	margin-bottom: 5vw;
	padding-top: 2em;
}

.titel hr{
	width: 1.5em;
	background-color: #f7f7f7;
	
}

/*STARTPAGE*/

.startpage{
	text-align: center;
}

.startpage img{
	width: 90%;
	margin-top: 25%;
}

.arrow-down {
  box-sizing: border-box;
  height: 10vw;
  width: 10vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow-down:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.arrow {
  	display: flex;
  	align-items: center;
 	justify-content: center;
  	height: 15vw;;
}

/*PROJEKTE*/

.projekte{
	margin-top: 100%;	
}

.projekt-container img{
	width:100%;
}
.projekt-container{
	margin-top: 2em;
	position: relative;
}
.projekt-container:hover .thumbnail{
	filter: brightness(80%);
}

.imgtext{
	position: absolute;
	padding: 0.5em;
	top: 100%;
 	left: 50%;
	width: 70%;
  	transform: translate(-50%, -50%);
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	color: #212121;
	background-color: #f7f7f7;
	border: 0;
	z-index: 2;
}

.mehr-button{
	text-align: center;
	margin-top: 4em;
}
.mehr-button a{
	background-color: #f7f7f7;
	color: #212121;
	font-size: 14px;
	padding: 2vw;
	border-radius: 10px;
}


/*ÜBER UNS*/

.ueber-uns{
	text-align: justify;
}

.team{
	margin-top: 0.5em;
	padding: 1em;
	text-align: center;
}

.team h1{
	padding-bottom: 1em;
	font-size: 20px;
}

.teammember1, .teammember2, .teammember3{
	width: 20%;
	display: inline-block;
	position:static;
}

.teammember1{
	float: left;
}
.teammember2{

}
.teammember3{
	float: right;
}

.tm-img img{
	border-radius: 50%;
	width:100%;
}

/*KONTAKT*/
input{
	height: 3em;
	background-color: #f7f7f7;
	border-radius: 0;
	border: none;
	text-decoration: none;
	color: #212121;
	
}

input[type=text],[type=number], [type=email], [type=submit]{
	width: 100%;
	-webkit-appearance: none;
}


textarea{
	width: 100%;
	border-radius: 0;
	border: none;
}

/*FOOTER*/
.footer{
	text-align: center;
	margin-top: 5em;
}

.footer a, .footer p{
	color: #808080;
	font-size: 14px;
}

@media (min-width:1920px){
	input[type=submit]:hover{
	background-color: #808080;
	color: #f7f7f7;
}}
