/*alg*/
* {
	margin: 0;
	padding: 0;
}

body{	
	
	margin: 10%;
	padding: 0;	
	overflow-x: hidden;
	-webkit-overflow-scroll: touch;
	background-color: #212121;
	}

html{
	overflow-x:hidden;
}

h1{
	font-family: acumin-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 24px;
	letter-spacing: 1px;
	color: #F7F7F7;
}

h2{
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	text-align: center;
	color: #f7f7f7;
	letter-spacing: 1.5px;
}

p{
	font-family: acumin-pro, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 1px;
	color: #f7f7f7;
	padding-bottom: 0.5em;
	text-align: justify;
	margin: 0;
}

a{
	font-family: acumin-pro, sans-serif;
	font-weight: 200;
	font-style: normal;
	letter-spacing: 0.5px;
	color: #f7f7f7;
	text-decoration: none;
}

article{
	margin-top: 7em;
}

/*alg. titel*/
.titel{
	margin-bottom: 5vw;
	padding-top: 2em;
}

.titel hr{
	width: 1.5em;
	background-color: #f7f7f7;
	
}

/*STARTPAGE*/

.startpage{
	text-align: center;
}

.startpage img{
	width: 90%;
	margin-top: 25%;
}

.arrow-down {
  box-sizing: border-box;
  height: 10vw;
  width: 10vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow-down:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.arrow {
  	display: flex;
  	align-items: center;
 	justify-content: center;
	padding-top: 0em;
  	height: 15vw;
	opacity: 0;
}

/*PROJEKTE*/

.projekte{
	margin-top: 100%;	
}

.projekt-container img{
	width:100%;
}
.projekt-container{
	margin-top: 3em;
	position: relative;
}
.projekt-container .thumbnail{
	filter: brightness(70%);
}
.projekt-container:hover .thumbnail{
	filter: brightness(100%);
	transition: 0.5s;
}

.imgtext{
	position: absolute;
	padding: 1em;
	top: 50%;
 	left: 50%;
	width: 100%;
  	transform: translate(-50%, -50%);
	font-family: acumin-pro, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 25px;
	text-align: center;
	color: #f7f7f7;
	border: 0;
	z-index: 1;
}

.mehr-button{
	text-align: center;
	margin-top: 4em;
}
.mehr-button a{
	background-color: #f7f7f7;
	color: #212121;
	font-size: 14px;
	padding: 2vw;
}


/*ÜBER UNS*/

.ueber-uns{
	text-align: justify;
}

.team{
	margin-top: 0.5em;
	padding: 1em;
	text-align: center;
}

.team h1{
	padding-bottom: 1em;
	font-size: 20px;
}

.teammember1, .teammember2, .teammember3{
	width: 20%;
	display: inline-block;
	position:static;
}
.teammember1 p, .teammember2 p, .teammember3 p{
	text-align: center;
}

.teammember1{
	float: left;
}
.teammember2{

}
.teammember3{
	float: right;
}

.tm-img img{
	border-radius: 50%;
	width:100%;
}

/*KONTAKT*/
input{
	height: 3em;
	background-color: #f7f7f7;
	border-radius: 0;
	border: none;
	text-decoration: none;
	color: #212121;
	
}

input[type=text],[type=number], [type=email], [type=submit]{
	width: 100%;
	-webkit-appearance: none;
}


textarea{
	width: 100%;
	border-radius: 0;
	border: none;
}

/*FOOTER*/
.footer{
	text-align: center;
	margin-top: 5em;
}

.footer a, .footer p{
	color: #808080;
	font-size: 14px;
	text-align: center;
}

/*PROJEKT PAGE*/
.projekte-pr{
	margin-top: 2em;
}
.back-arrow a{
	padding-top: 20em; 
	font-size: 5em;
}

/*NAV BAR (BEI UNTERSEITEN)*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  z-index: 4;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f7f7f7;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 0em;
  right: 0.5em;
  font-size: 50px;
}
.hamburger{
	font-size:30px;
	cursor:pointer;
	float: right;
	padding-top: 0.5em;
	padding-right: 0.5em;
	color: #f7f7f7;
	margin-right: 0.5em;
}
.navbar{
	background-color: #212121;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;
}
.navbar img{
	width:5em;
	top: 0.5em;
	padding-left: 2em;
	
}

/*PROJEKT-ARTIKEL*/
.yt-video{
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.yt-video iframe,
.yt-video object,
.yt-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

@media (min-width:1920px){
	input[type=submit]:hover{
	background-color: #808080;
	color: #f7f7f7;
}}
